<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <body>
        <div id="mainMenu">
            <ul>
                <li>
                    <a th:href="@{/}" th:text="#{nav.home}">Home</a>
                </li>
                <li>
                    <a th:href="@{/contact/}" th:text="#{nav.contact}">Contact</a>
                </li>
                <li>
                    <a th:href="@{/profile/}" th:text="#{nav.profile}">Profile</a>
                </li>
                <li>
                    <a th:href="@{/admin/}" th:text="#{nav.admin}">Admin</a>
                </li>
                <li>
                    <a th:href="@{/login}" th:text="#{nav.login}">Login</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a th:href="@{?lang=en}" th:text="#{lang.english}">English</a>
                </li>
                <li>
                    <a th:href="@{?lang=bg}" th:text="#{lang.bulgarian}">Bulgarian</a>
                </li>
            </ul>
        </div>
    </body>
</html>